.todoItem {
  padding: 15px;
  font-size: 1.2rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-start;
}

.todoItem:has(input:checked) .todoText {
  text-decoration: line-through;
  color: var(--border-color);
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.todoContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.todoDateContainer {
  font-size: 0.8rem;
  color: var(--text-color);
}

.todoDate {
  color: var(--button-text-color);
  margin-left: 10px;
}

.toggleCompleted {
  cursor: pointer;
}

.buttonContainer {
  margin-left: auto;
  display: flex;
  align-self: stretch;
  gap: 15px;
}

.button {
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--button-text-color);
  transition: background-color 0.3s ease;
}

.editButton {
  background-color: var(--main-color);
}

.editButton:hover {
  background-color: var(--dark-main-color);
  border: 1px solid var(--main-color);
}

.deleteButton {
  background-color: var(--danger-color);
}

.deleteButton:hover {
  background-color: var(--dark-danger-color);
  border: 1px solid var(--danger-color);
}

@media (min-width: 768px) {
  .todoItem {
    padding: 10px;
    font-size: 1rem;
    gap: 10px;
  }

  .buttonContainer {
    gap: 10px;
  }
}
