.bulkActionsSection {
  background-color: var(--section-bg-color);
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-radius: var(--border-radius);
  margin-bottom: var(--margin);
}

.title {
  align-self: flex-start;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.button {
  width: 100%;
  padding: var(--padding);
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2rem;
}

.button:hover {
  background-color: var(--button-hover-bg-color);
}

@media (min-width: 768px) {
  .buttons {
    width: 100%;
    gap: 10px;
    flex-direction: row;
  }

  .button {
    font-size: 1rem;
  }
}
