.inputSection {
  background-color: hsl(235, 33%, 20%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.title {
  align-self: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: inherit;
}

.input:focus {
  outline: 2px solid hsl(302, 100%, 50%);
}

.button {
  width: 30%;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
}

.button:focus {
  outline: 2px solid hsl(302, 100%, 50%);
}

.button:hover {
  background-color: hsl(307, 33%, 20%);
}

.error {
  color: hsl(351, 100%, 60%);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .form {
    flex-direction: row;
    gap: 10px;
  }

  .input {
    width: 75%;
    padding: 10px;
    font-size: 1rem;
  }

  .button {
    width: 25%;
    padding: 10px;
    font-size: 1rem;
  }
}
