@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

Default Light Theme :root {
  --bg-color: #ffffff;
  --text-color: #333333;
}

/* Dark Theme Override */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #222222;
    --text-color: #ffffff;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}
